@model StoreFront.DATA.EF.VideoGame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VideoGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearReleased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearReleased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMG)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IMG)*@

            <img src="~/Content/images/@Model.IMG" alt="@Model.GameTitle" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developer.DeveloperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developer.DeveloperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Platform.PlatformName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Platform.PlatformName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockStatus.StockStatus1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockStatus.StockStatus1)
        </dd>

    </dl>
    @* Add to cart *@
    <p>
        @using (Html.BeginForm("AddToCart", "VideoGames", new { @gameId = Model.GameID }, FormMethod.Post, new { @class = "text-center" }))
        {
            @Html.HiddenFor(x => x.GameID)
            <span class="label">Quantity: </span>
            @Html.TextBox("Qty", 1, new { @class = "form-control", @style = "max-width: 50px; display: inline;" })
            <input type="submit" value="Add to Cart" class="btn btn-primary" name="qty" />
        }
    </p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
