@model IEnumerable<StoreFront.DATA.EF.VideoGame>

@{
    ViewBag.Title = "Index";
}

@* Banner *@
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>the games</h4>
                    <h2>our products</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@* Banner end *@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IMG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Developer.DeveloperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Platform.PlatformName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockStatus.StockStatus1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.IMG)*@
                <img src="~/Content/images/t_@item.IMG" alt="Game cover" title="@item.GameTitle"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.DeveloperName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform.PlatformName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockStatus.StockStatus1)
            </td>
            <td>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Delete", "Delete", new { id = item.GameID })@:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.GameID }) @:|
                }

                @Html.ActionLink("Details", "Details", new { id = item.GameID })

            </td>
        </tr>
    }

</table>
